#page-wrap {
    width: 960px;
    margin: 0 auto;
}

/* I couldn't get the navbar to fit like everything else!*/
.navbar-light {
    width: 100%;
}

.navbar-light .navbar-brand {
    background: #4aaaa5;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-size:xx-large;
    padding:20px;
    color: white;
    font-weight: bold;
    float: left; 
    margin-left: 12px;
    text-align: center;
}

.background {
    background-image: url(./assets/images/dust_scratches.png)
}

#sidebar {
    background:#ffffff;
    border: #dddddd;
    border-style: solid;
    font-family: 'Arial', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 20px;
    color:  #4aaaa5;
    margin: 20px 0px 40px 0px;
}

#responsive-image {
    width:25%; height: auto;
    float: left;
    margin-right: 10px;
}

#content {
    background:#ffffff;
    border: #dddddd;
    border-style: solid;
    font-family: 'Arial', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 20px;
    margin: 20px 12px 40px 12px;
    color:#777777;
    display: block;
    z-index: 1;
}

h2 {
    color: #4aaaa5;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: bold;
    margin: 30px 0px 30px 0px;
    border-bottom: 3px solid #e7e5e5;
}
    
h3 {
    color: #4aaaa5;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: bold;
    border-bottom: 3px solid #e7e5e5;
}

#portfolio {
    position: relative;
    background:#ffffff;
    border: #dddddd;
    border-style: solid;
    padding: 20px;
    font-family: 'Arial', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 20px 12px 40px 12px;
    z-index: 1;
}

.port-image {
    position: relative;
    width:200px; 
    height: auto;
    margin: 20px;
}

.hp {
    position: relative;
    overflow: auto;
}

.Harry {
    position: absolute;
    bottom: 10px;
    padding: 5px;
    background-color:  #4aaaa5;
    color: white;
    width: 200px;
    text-align: center;
    margin: 20px;
}
/* I tried to center the words in the footer, but couldn't figure out why it wasn't working!*/

.foot {
    position: static;
    color: white;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.navbar-fixed-bottom {
    margin-top: 40px;
    position: static;
        clear: both;
        overflow: auto;
        background: #666666;  
        bottom: 0;
        padding: 5px;
        border-top: 5px solid #4aaaa5;      
    }


#media {
    width: 40px;
    height: 40px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color:  #4aaaa5;
}

.contact {
    background:#ffffff;
    border: #dddddd;
    border-style: solid;
    font-family: 'Arial', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 20px;
    margin: 20px 12px 40px 12px;
    color:#777777;
    z-index: 1;
}